# Code quality
black>=21.10b0
pytest>=7.2.1
flake8>=4.0.1
beartype>=0.12.0

# Standard utility packages
numpy>=1.24.2
matplotlib>=3.7.0
seaborn>=0.12.2
pandas>=1.5.3
ipykernel==6.4.2
ipywidgets==7.6.5
tqdm>=4.62.3
scipy>=1.10.0
tensorboard>=2.8.0
torch>=2.0.0
wandb>=0.15.5

# JAX
jax>=0.4.5
jaxlib>=0.4.4
jaxtyping>=0.2.13
jax-tqdm>=0.1.1

# Optimization
optax>=0.1.4

# Neural networks
equinox==0.10.1

# DE solver (includes Newton-Raphson solver)
diffrax>=0.3.1

# Sampling
blackjax>=0.9.6

# Systems
jax-f16
