# Code quality
black
mypy
pytest
flake8
beartype

# Standard utility packages
numpy
matplotlib
celluloid
seaborn
pandas
ipykernel
ipywidgets
tqdm

# Optimization
jaxopt
optax

# Neural networks
equinox

# JAX
jax[cpu]
jaxtyping
