# Code quality
black
mypy
pytest
flake8
beartype

# Standard utility packages
numpy>=1.22
matplotlib
celluloid
seaborn
pandas
ipykernel
ipywidgets
tqdm

# JAX
jax[cpu]
jaxtyping

# Optimization
jaxopt
optax

# Neural networks
equinox

# DE solver (includes Newton-Raphson solver)
diffrax

# Sampling
blackjax
